# Project

Studen names and IDs: 

Name: Yuvraj Singh

Student ID:  200670570

Name:  Meer Baloch

Student ID:

## Visualization 1

text here

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
df1 = pd.read_csv('data/GHG_Data_2010_2020_data_Dec162021.csv', encoding = 'latin')
df1.head()
#stacked bar chart

,Year,Ontario GHG ID,Facility Owner,Facility Name,Facility City,Facility Primary NAICS Code,Carbon dioxide (CO2) from non-biomass in CO2e (t),Carbon dioxide (CO2) from biomass in CO2e (t),Methane (CH4) in CO2e (t),Nitrous oxide (N2O) in CO2e (t),Sulphur hexafluoride (SF6) in CO2e (t),Hydrofluorocarbons (HFCs) in CO2e (t),Perfluorocarbons (PFCs) in CO2e (t),Nitrogen Trifluoride (NF3) in CO2e (t),Total CO2e from all sources in CO2e (t),Reporting Amount in CO2e (t),Verification Amount in CO2e (t),Accredited Verification Body
0,2010,1001,ADM Agri-Industries,ADM Windsor,Windsor,311224,69652.0,0.0,29.0,395.0,0.0,0.0,0.0,NaN,70077,70077,NaN,NaN
1,2010,1002,Air Products Canada Ltd,Corunna Hydrogen Facility,Corunna,325120,389933.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,389933,389933,NaN,NaN
2,2010,1003,Algonquin Power Energy From Waste Inc.,Algonquin Power Energy from Waste Inc.,Brampton,562210,40378.0,44865.0,555.0,1113.0,0.0,0.0,0.0,NaN,86911,42046,NaN,NaN
3,2010,1005,ArcelorMittal Dofasco Inc.,Dofasco Hamilton,Hamilton,331110,4923106.0,0.0,24680.0,8518.0,0.0,0.0,0.0,NaN,4956304,4956304,NaN,NaN
4,2010,1006,Atlantic Packaging Products Ltd.,111 Progress,Scarborough,322130,42456.0,15218.0,18.0,231.0,0.0,0.0,0.0,NaN,57923,42705,NaN,NaN

## Visualization 2

text here

In [9]:
df2 = pd.read_csv('data/covid_worldwide.csv')
df2

,Serial Number,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
0,1,USA,"104,196,861","1,132,935","101,322,779","1,741,147","1,159,832,679","334,805,269"
1,2,India,"44,682,784","530,740","44,150,289","1,755","915,265,788","1,406,631,776"
2,3,France,"39,524,311","164,233","39,264,546","95,532","271,490,188","65,584,518"
3,4,Germany,"37,779,833","165,711","37,398,100","216,022","122,332,384","83,883,596"
4,5,Brazil,"36,824,580","697,074","35,919,372","208,134","63,776,166","215,353,593"
...,...,...,...,...,...,...,...,...
226,227,Diamond Princess,712,13,699,0,NaN,NaN
227,228,Vatican City,29,NaN,29,0,NaN,799
228,229,Western Sahara,10,1,9,0,NaN,"626,161"
229,230,MS Zaandam,9,2,7,0,NaN,NaN
230,231,Tokelau,5,NaN,NaN,5,NaN,"1,378"

## Visualization 3

text here

In [14]:
df3 = pd.read_csv('data/MAG_EXO.csv', encoding = 'latin')
df3.drop(columns=['PNuid_NLidu', 'Nom_fr'], inplace=True)
df3

                              Name_en Province   Latitude  Longitude
0                             Halifax       NS  44.648757 -63.601876
1                           Dartmouth       NS  44.672142 -63.562168
2                       Charlottetown       PE  46.242961 -63.126519
3                              Sydney       NS  46.126469 -60.176689
4                           Glace Bay       NS  46.192901 -59.962389
...                               ...      ...        ...        ...
11576                         Ardness       NS  45.689060 -62.232869
11577                        Knoydart       NS  45.713521 -62.239519
11578                  Rocky Mountain       NS  45.376482 -62.267893
11579  East River St. Marys West Side       NS  45.378662 -62.173462
11580                  Blanchard Road       NS  45.467180 -62.475100

[11581 rows x 4 columns]

## Visualization 4

text here

In [15]:
df4 = pd.read_csv('data/finaldata.csv')
df4

,year,count_zw,growthrate_zw,count_wm,growthrate_wm,count_mt,growthrate_mt,count_cm,growthrate_cm
0,2020,7704889318,1.03,7794798739,1.05,7840952880,0.98,7756041003,1.06
1,2019,7626332189,1.06,7713468100,1.08,7764951032,1.06,7674314922,1.09
2,2018,7546680333,1.08,7631091040,1.10,7683789828,1.10,7591515998,1.11
3,2017,7466120194,1.10,7547858925,1.12,7599822404,1.15,7507990494,1.13
4,2016,7384895355,1.12,7464022049,1.14,7513474238,1.17,7423834158,1.15
...,...,...,...,...,...,...,...,...,...
64,1956,2808444206,1.78,2822443282,1.78,2801002631,2.00,2797843787,1.77
65,1955,2759336060,1.77,2773019936,1.77,2746072141,2.01,2749108690,1.77
66,1954,2711460095,1.76,2724846741,1.76,2691979339,1.96,2701399657,1.77
67,1953,2664502585,1.78,2677608960,1.78,2640278797,1.93,2654405334,1.80
68,1952,2618020596,1.81,2630861562,1.81,2590270899,1.85,2607553997,1.84

## Visualization 5

text here

In [16]:
df

,Year,Ontario GHG ID,Facility Owner,Facility Name,Facility City,Facility Primary NAICS Code,Carbon dioxide (CO2) from non-biomass in CO2e (t),Carbon dioxide (CO2) from biomass in CO2e (t),Methane (CH4) in CO2e (t),Nitrous oxide (N2O) in CO2e (t),Sulphur hexafluoride (SF6) in CO2e (t),Hydrofluorocarbons (HFCs) in CO2e (t),Perfluorocarbons (PFCs) in CO2e (t),Nitrogen Trifluoride (NF3) in CO2e (t),Total CO2e from all sources in CO2e (t),Reporting Amount in CO2e (t),Verification Amount in CO2e (t),Accredited Verification Body
0,2010,1001,ADM Agri-Industries,ADM Windsor,Windsor,311224,69652.00,0.0,29.0000,395.0000,0.0,0.000,0.0,NaN,70077,70077,NaN,NaN
1,2010,1002,Air Products Canada Ltd,Corunna Hydrogen Facility,Corunna,325120,389933.00,0.0,0.0000,0.0000,0.0,0.000,0.0,NaN,389933,389933,NaN,NaN
2,2010,1003,Algonquin Power Energy From Waste Inc.,Algonquin Power Energy from Waste Inc.,Brampton,562210,40378.00,44865.0,555.0000,1113.0000,0.0,0.000,0.0,NaN,86911,42046,NaN,NaN
3,2010,1005,ArcelorMittal Dofasco Inc.,Dofasco Hamilton,Hamilton,331110,4923106.00,0.0,24680.0000,8518.0000,0.0,0.000,0.0,NaN,4956304,4956304,NaN,NaN
4,2010,1006,Atlantic Packaging Products Ltd.,111 Progress,Scarborough,322130,42456.00,15218.0,18.0000,231.0000,0.0,0.000,0.0,NaN,57923,42705,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552,2020,1503,Global Upholstery Co. Ltd.,Global Upholstery,DOWNSVIEW,337214,5163.90,NaN,2.6500,27.1180,NaN,NaN,NaN,NaN,5194,5194,0.0,NaN
2553,2020,1504,Kellogg Canada Inc.,Belleville Plant,BELLEVILLE,311230,10844.00,NaN,5.3500,56.6200,NaN,NaN,NaN,NaN,10906,10906,10906.0,NaN
2554,2020,1505,"Canada Bread Company, Ltd.",Bimbo Canada EPS - Integrated Facility,HANNON,311814,12018.00,NaN,5.6675,60.2556,NaN,322.785,NaN,NaN,12407,12407,12084.0,NaN
2555,2020,1506,Williams Operating Corporation,Williams Mine,MARATHON,212220,30059.00,NaN,425.0000,82248.0000,NaN,NaN,NaN,NaN,112732,112732,93690.0,NaN
2556,2020,1507,3M Canada Company,PERTH,PERTH,322220,9815.24,NaN,4.6250,49.1700,NaN,NaN,NaN,NaN,9870,9870,9870.0,NaN